<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Ett album


<p>
Här visas album: <span th:text="${albumName}"></span>
<p>

<form action="/import" enctype="multipart/form-data">
	<input type="hidden" id="albumName" name="albumName" th:value="${albumName}"></input>
    <label for="fileToUpload">Filer att importera:</label>
    <input type="file" name="fileToUpload" id="fileToUpload" multiple>
    <input type="submit" value="Upload Image" name="submit">
</form>


</body>
</html>
