<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>HFPhoto</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
	<h2>Editera Index</h2>


	<table>
    <thead>
        <tr>
            <th colspan="2"> Album <span th:text="${albumName}"></span>,  Bild:<span th:text="${enTraff.pictureName}"></span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               Visa index
               <!-- 
               <span th:text="${enTraff.picturePath}"></span>
               <span th:text="${enTraff.isPicture}"></span>
                -->
            	   <!-- 
                <a th:href="@{/editIndexes(albumName=${albumName},pictureName=${enTraff.pictureName})}"><span>Edit</span></a>
               
            	   -->
            	</td>
            <td th:if="${enTraff.isPicture}">
               <img th:src="@{/picture?albumName=}+${albumName}+@{&pictureName=}+${enTraff.pictureName}" width="80%">
            	</td>
            <td th:unless="${enTraff.isPicture}">
				<video width="auto" height="600" controls style=" margin-left: auto; margin-right: auto; display: block;">
				    <source th:src="@{/video(albumName=${albumName},id=${enTraff.pictureName})}" type="video/mp4">
				</video>
            	</td>
        </tr>
    </tbody>
    </table>


	
</body>
</html>
